:root {
    --shimmer-duration: 2s;
}

.shimmer {
	text-align: center;
	color: rgba(255, 255, 255, 0.6);
	background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #6666cc));
	background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #6666cc));
	background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #6666cc));
	-webkit-background-size: 120px 100%;
	-moz-background-size: 120px 100%;
	background-size: 120px 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-animation-name: shimmer;
	-moz-animation-name: shimmer;
	animation-name: shimmer;
	-webkit-animation-duration: var(--shimmer-duration);
	-moz-animation-duration: var(--shimmer-duration);
	animation-duration: var(--shimmer-duration);

	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: #222;
}
@-moz-keyframes shimmer {
	0% {
		background-position: top left;
	}
	100% {
		background-position: top right;
	}
}
@-webkit-keyframes shimmer {
	0% {
		background-position: top left;
	}
	100% {
		background-position: top right;
	}
}
@-o-keyframes shimmer {
	0% {
		background-position: top left;
	}
	100% {
		background-position: top right;
	}
}
@keyframes shimmer {
	0% {
		background-position: top left;
	}
	100% {
		background-position: top right;
	}
}
